body {
  position: relative;
  width: 360px;
  height: 600px;
  border: 1px solid black;
  margin: 50px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

.app_title {
  text-align: center;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30px;
}

.new_alarm_popup,
.alarm_popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(3, 3, 3, 0.05);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.new_alarm_btn {
  position: absolute;
  right: 5px;
  z-index: 1000;
}

.new_alarm_popup .content_box,
.alarm_popup .content_box {
  padding: 30px 20px;
  padding-bottom: 20px;
  width: 250px;
  border-radius: 5px;
  border: solid 1px black;
  background-color: #fff;
  text-align: center;
}

.new_alarm_popup .content_box .title_input {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
}

.new_alarm_popup .content_box .temp {
  display: inline-block;
  width: 91px;
  margin-left: 10px;
}

.new_alarm_popup .content_box .rain {
  display: inline-block;
  width: 91px;
  margin-left: 10px;
}

.new_alarm_popup .content_box .title,
.new_alarm_popup .content_box .policy {
  margin-bottom: 10px;
}

.alarm_view {
  height: 570px;
  overflow-y: scroll;
}

.alarm_box {
  border: solid 1px black;
  margin: 5px;
  padding: 10px 5px;
  border-radius: 2px;
  line-height: 1.5;
  position: relative;
}

.alarm_box .date {
  position: relative;
  top: 10px;
  white-space: nowrap;
  font-size: 11px;
}

.alarm_box .delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
